# Beating the Market with AI

### Initial Project Setup

In [15]:
# Initial library and module imports
import pandas as pd
import numpy as np
import hvplot.pandas
from pathlib import Path
import matplotlib.pyplot as plt
# import pandas_ta as ta
import talib as ta
# from talib import abstract as ab
# from talib.abstract import *

# Example imports for models and algorithms

# from sklearn import svm
# from pandas.tseries.offsets import DateOffset
# from sklearn.ensemble import AdaBoostClassifier
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import classification_report

# Disable false positive error message
# pd.options.mode.chained_assignment = None

In [3]:
# Initial file uploads for Google Colab
# from google.colab import files
# uploaded = files.upload()

ModuleNotFoundError: No module named 'google.colab'

### Data Import & Preparation

In [3]:
# Read csv into dataframe - Colab

# Apple dataframe
# aapl_df = pd.read_csv(
#     Path("./AAPL.csv"),
#     index_col="Date",
#     parse_dates=True,
#     infer_datetime_format=True
# )

# Microsoft dataframe
# msft_df = pd.read_csv(
#     Path("./MSFT.csv"),
#     index_col="Date",
#     parse_dates=True,
#     infer_datetime_format=True
# )

# Read csvs into dataframe - Non-Colab

# Apple dataframe
aapl_df = pd.read_csv(
    Path("./data/AAPL.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

# Microsoft dataframe
msft_df = pd.read_csv(
    Path("./data/MSFT.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

In [4]:
# Verify dataframe
aapl_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100039,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094820,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087861,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090035,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092646,73449600
...,...,...,...,...,...,...
2022-08-30,162.130005,162.559998,157.720001,158.910004,158.910004,77906200
2022-08-31,160.309998,160.580002,157.139999,157.220001,157.220001,87991100
2022-09-01,156.639999,158.419998,154.669998,157.960007,157.960007,74229900
2022-09-02,159.750000,160.360001,154.970001,155.809998,155.809998,76905200
2022-09-06,156.470001,157.089996,153.690002,154.529999,154.529999,73604800

In [5]:
# Verify dataframe
msft_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060980,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.063158,308160000
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.064247,133171200
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062613,67766400
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061524,47894400
...,...,...,...,...,...,...
2022-08-30,266.670013,267.049988,260.660004,262.970001,262.970001,22767100
2022-08-31,265.390015,267.109985,261.329987,261.470001,261.470001,24791800
2022-09-01,258.869995,260.890015,255.410004,260.399994,260.399994,23263400
2022-09-02,261.700012,264.739990,254.470001,256.059998,256.059998,22841600
2022-09-06,256.200012,257.829987,251.940002,253.250000,253.250000,21303200

### Stock Trading Algorithm

In [ ]:
# EMA, SMA, VWAP?
# ta.vwap, ta.sma, ta.ema()


"""
sma = talib
sma10 = ab.SMA(aapl_df["Adj Close"], timeperiod=25)
sma10 = SMA("close", timeperiod=25)
"""

In [11]:
# Create a new dataframe to hold the adjusted close and future indicator and signal values

# Apple
aapl_technical_df = aapl_df.loc[:, ["Adj Close"]]

# Microsoft
msft_technical_df = msft_df.loc[:, ["Adj Close"]]

In [12]:
# Add daily return values to the dataframes and drop NaN values

# Apple
aapl_technical_df["Actual Returns"] = aapl_technical_df["Adj Close"].pct_change()

aapl_technical_df = aapl_technical_df.dropna()

# Microsoft
msft_technical_df["Actual Returns"] = msft_technical_df["Adj Close"].pct_change()

msft_technical_df = msft_technical_df.dropna()

In [20]:
# Add indicators to the dataframes for use in algorithm and drop NaN values created for EMA indicators

# Apple
aapl_technical_df["EMA 5"] = ta.EMA(aapl_technical_df["Adj Close"], timeperiod = 5)

aapl_technical_df["EMA 10"] = ta.EMA(aapl_technical_df["Adj Close"], timeperiod = 10)

aapl_technical_df["EMA 14"] = ta.EMA(aapl_technical_df["Adj Close"], timeperiod = 14)

aapl_technical_df = aapl_technical_df.dropna()

# Microsoft
msft_technical_df["EMA 5"] = ta.EMA(msft_technical_df["Adj Close"], timeperiod = 5)

msft_technical_df["EMA 10"] = ta.EMA(msft_technical_df["Adj Close"], timeperiod = 10)

msft_technical_df["EMA 14"] = ta.EMA(msft_technical_df["Adj Close"], timeperiod = 14)

msft_technical_df = msft_technical_df.dropna()

In [21]:
# Review resulting dataframe
aapl_technical_df

             Adj Close  Actual Returns       EMA 5      EMA 10      EMA 14
Date
1981-01-05    0.117438       -0.021741    0.118315    0.112263    0.108179
1981-01-06    0.112218       -0.044449    0.116283    0.112255    0.108718
1981-01-07    0.107434       -0.042631    0.113333    0.111378    0.108547
1981-01-08    0.105259       -0.020245    0.110642    0.110266    0.108108
1981-01-09    0.110913        0.053715    0.110732    0.110383    0.108482
...                ...             ...         ...         ...         ...
2022-08-30  158.910004       -0.015305  163.232089  165.513631  165.829363
2022-08-31  157.220001       -0.010635  161.228060  164.005698  164.681448
2022-09-01  157.960007        0.004707  160.138709  162.906482  163.785256
2022-09-02  155.809998       -0.013611  158.695805  161.616212  162.721888
2022-09-06  154.529999       -0.008215  157.307203  160.327809  161.629636

[10508 rows x 5 columns]

In [22]:
# Review resulting dataframe
msft_technical_df

             Adj Close  Actual Returns       EMA 5      EMA 10      EMA 14
Date
1986-04-03    0.060435        0.009083    0.059917    0.060143    0.060241
1986-04-04    0.060435        0.000000    0.060090    0.060196    0.060267
1986-04-07    0.059347       -0.018003    0.059842    0.060042    0.060144
1986-04-08    0.059891        0.009166    0.059858    0.060014    0.060111
1986-04-09    0.060980        0.018183    0.060232    0.060190    0.060226
...                ...             ...         ...         ...         ...
2022-08-30  262.970001       -0.008521  269.184222  274.191847  275.854437
2022-08-31  261.470001       -0.005704  266.612815  271.878784  273.936512
2022-09-01  260.399994       -0.004092  264.541875  269.791732  272.131643
2022-09-02  256.059998       -0.016667  261.714582  267.295053  269.988757
2022-09-06  253.250000       -0.010974  258.893055  264.741407  267.756923

[9182 rows x 5 columns]

### Stock A Models - AAPL

#### Data Prep

#### Model A

#### Model B

#### Model C

### Stock B Models - MSFT

#### Data Prep

#### Model A

#### Model B

#### Model C

### Analysis & Comparison

In [ ]:
# Compare models used on first stock and retested on second stock.